Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

flake8:
  name: flake8
  entry: flake8
  language: system

safety:
  name: safety
  entry: poetry run safety
  args:
  - check
  - --full-report
  - --file
  language: system

chore (dev): updated dependencies
  poetry.lock
Due: none

chore(code): switched map to generator expression
  .vscode/launch.json
  doxysphinx/__main__.py
  doxysphinx/html_parser.py
Due: flake8

fix(styles): Doxygens section headings and also markdown headings are now shown
  demo/demo.doxyfile
  demo/demo/images/doxysphinx_logo.svg
  demo/demo/src/readme.md
  docs/_static/doxysphinx_logo.svg
  docs/resources/doxysphinx_logo.sketch
  doxysphinx/resources/custom.scss
Due: none

chore(pypi): added pypi compatible readme
  README.md
  pyproject.toml
Due: safety

docs: added a table of static doxygen page names
  docs/linking_to_doxygen.md
Due: none

2.1.11
  CHANGELOG.md
  pyproject.toml
Due: safety

feat(validator): Added a validator to check the flags of the doxyfile
  NOTICE.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

feat(validator): Changed the validator output type.
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

feat(validator): solved errors for PR
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

feat(validator): Fixed path issues in pytest.
  tests/doxygen/test_doxysettings_validator.py
Due: none

docs(validator): Added note to indicate doxyflag validation
  docs/getting_started.md
Due: none

feat(validator): Fixed path issue in pytest
  tests/doxygen/test_doxysettings_validator.py
Due: none

2.2.0
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(deps): upgraded dependencies to latest versions
  .gitignore
  poetry.lock
  pyproject.toml
Due: safety

chore(devcontainer): small fix for poetry issue
  .devcontainer/devcontainer.json
Due: none

chore(deps): updated poetry lock file
  poetry.lock
Due: none

feat(cli): direct doxygen output path specification is no possible in addition to the doxyfile
  Makefile
  docs/getting_started.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  tests/test_cli.py
Due: flake8

chore(dev): added pydocstyle tests as flake8 module.
  .flake8
  .pre-commit-config.yaml
  doxysphinx/cli.py
  poetry.lock
  pyproject.toml
Due: flake8, safety

chore(deps): readded 2 deps
  poetry.lock
  pyproject.toml
Due: safety

chore(ci): add console output dump to pytest
  .github/workflows/ci.yml
Due: none

chore(ci): github init action now installs latest doxygen
  .github/actions/init/action.yaml
Due: none

chore(dev): DoxygenOutputValidator file check changed from doxygen.svg to doxygen.css
  doxysphinx/doxygen.py
Due: flake8

chore(ci): now the apt version of doxygen is installed again
  .github/actions/init/action.yaml
Due: none

fix(ci): python semantic release is now parsing tags instead of commit logs
  .github/workflows/ci.yml
  .vscode/launch.json
  pyproject.toml
Due: safety

chore(deps): added commitizen dependencies
  poetry.lock
  pyproject.toml
Due: safety

chore(dev): precommit now also used commitizen
  .pre-commit-config.yaml
Due: none

chore(ci): commitizen configuration
  pyproject.toml
Due: safety

chore(ci): better version spec for commitizen
  pyproject.toml
Due: safety

chore(ci): final removement of python semantic release
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: safety

chore(ci): now the commitizen github action is used
  .github/workflows/ci.yml
Due: none

fix(ci): commit to bump version and force a release
  .github/workflows/ci.yml
Due: none

chore(ci): changed name + email of commiter/pusher for version bump
  .github/workflows/ci.yml
Due: none

chore(ci): attempt to fix ci pipeline
  .github/workflows/ci.yml
Due: none

chore(ci): fixed typos
  .github/workflows/ci.yml
Due: none

chore(release): release 2.2.0 → 2.3.0 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

Path conditions:
  flake8: any of: \.py$, but not: (^.*tests/.*$)
  safety: any of: pyproject.toml, but not: (^.*tests/.*$)
