Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

flake8:
  name: flake8
  entry: flake8
  language: system

safety:
  name: safety
  entry: poetry run safety
  args:
  - check
  - --full-report
  - --file
  language: system

docs: add segmentation overview picture to inner workings.
  docs/inner_workings.md
  docs/resources/icons/html.png
  docs/resources/inner_workings_segmentation_overview.sketch
  docs/resources/inner_workings_segmentation_overview.svg
Due: none

chore(ci): added calculated version print to buildlog
  .github/workflows/ci.yml
Due: none

feat(doxygen): env variables in doxygen configs are now supported
  doxysphinx/doxygen.py
  tests/doxygen/test_doxyfile_reader.py
  tests/test_commands.py
Due: flake8

chore(ci): semantic release has git user + email configured now
  .github/workflows/ci.yml
Due: none

doc: fix links
  CONTRIBUTE.md
  NOTICE.md
  README.md
  conf.py
  conf_utils.py
  demo/demo.doxyfile
  demo/demo/src/readme.md
  docs/alternatives.md
  docs/api/apidoc.rst
  docs/dev_guide.md
  docs/faq.md
  docs/getting_started.md
  docs/ideas.md
  docs/inner_workings.md
  docs/linking_needs.md
  docs/linking_to_doxygen.md
  doxysphinx/process.py
  index.md
  sphinx_extensions/replacer/__init__.py
Due: flake8

2.1.0
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(ci): attempt to get dco working
  .github/workflows/dco.yml
  pyproject.toml
Due: safety

chore(ci): fix a wrong identation in dco workflow
  .github/workflows/dco.yml
Due: none

chore(ci): add github token to cd workflow
  .github/workflows/ci.yml
Due: none

chore(ci): reactivate dco action
  .github/workflows/dco.yml
Due: none

chore(ci): increase large file checkin limit to 4mb
  .pre-commit-config.yaml
Due: none

chore(ci): attempt to fix ci by skipping some tests for python 3.8
  tests/test_pathlib.py
Due: none

chore(ci): attempt to fix gh actions build
  .github/actions/init/action.yaml
Due: none

docs: some additions to faq on contributing images
  docs/faq.md
Due: none

chore(ci): attempt to fxi gh actions build
  .github/actions/init/action.yaml
Due: none

chore(ci): remove nuitka dependency for now
  .devcontainer/devcontainer.json
Due: none

chore(ci): attempt to fix ci by precreating doxygen output dir
  .github/workflows/ci.yml
Due: none

chore(ci): attempt to fix ci
  .github/actions/init/action.yaml
Due: none

chore(ci): some adaptions to github actions
  .github/actions/ensure-poetry/action.yaml
  .github/actions/init/action.yaml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/dco.yml
  .github/workflows/qa.yml
  .github/workflows/tools-clean-ws.yml
Due: none

chore(vscode): all commits in vscode are now automatically dco signed
  .vscode/settings.json
Due: none

fix(dependencies): fixed missing dependency and updated all
  poetry.lock
  pyproject.toml
Due: safety

chore(ci): remove nuitka dependency for now
  .devcontainer/Dockerfile
  poetry.lock
  poetry.toml
  pyproject.toml
Due: safety

chore(ci): attempt to fix ci - test for doxygen executable
  .github/actions/init/action.yaml
Due: none

fix(ci): activated pypi pushing (dry-run)
  .github/actions/init/action.yaml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

2.1.1
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(ci): gitignore structure change
  docs/doxygen/demo/.gitignore
Due: none

2.1.2
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(ci): attempt to fix pypi password escaping issue
  .github/workflows/cd.yml
Due: none

2.1.3
  CHANGELOG.md
  pyproject.toml
Due: safety

Path conditions:
  flake8: any of: \.py$, but not: (^.*tests/.*$)
  safety: any of: pyproject.toml, but not: (^.*tests/.*$)
