Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

.pre-commit-config.yaml:

##
## =====================================================================================
##  C O P Y R I G H T
## -------------------------------------------------------------------------------------
##  Copyright (c) 2022 by Robert Bosch GmbH. All rights reserved.
##
##  Author(s):
##  - Markus Braun, :em engineering methods AG (contracted by Robert Bosch GmbH)
## =====================================================================================
##

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#files:
#  "(.yaml$)|(^conf.*py$)|doxysphinx/.*py$||pyproject.toml$"

exclude:
  "(^.*tests/.*$)"

default_stages: [commit, manual, push]

repos:

# formatting related

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-case-conflict
  - id: check-added-large-files
    args: ["--maxkb=4096"]

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    types: [python]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.942
  hooks:
  - id: mypy
    args: [ "--show-error-codes" ]
    additional_dependencies: [
      "lxml_stubs",
      "types-PyYAML"
    ]
    types: [python]

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    types: [python]

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies:
      - toml

- repo: local
  hooks:
  - id: safety
    name: safety
    entry: poetry run safety
    args: [check, --full-report, --file]
    language: system
    files: "pyproject.toml"

- repo: https://github.com/AleksaC/hadolint-py
  rev: v1.19.0
  hooks:
    - id: hadolint
      args: [ --ignore, SC2035 ]

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v1.3.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args: [] # optional: list of Conventional Commits types to allow

fix(ci): test commit to test new pypi credentials
  .github/workflows/cd.yml
Due: none

docs: improve readme
  README.md
Due: none

fix(ci): added precommit caching
  .github/workflows/ci.yml
Due: none

2.1.4
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(ci): fix for really bad typo
  .github/workflows/cd.yml
  pyproject.toml
Due: safety

ci: change pypi package documentation url to future gh-pages url
  pyproject.toml
Due: safety

2.1.5
  CHANGELOG.md
  pyproject.toml
Due: safety

docs: move alternatives to separate file
  README.md
  docs/alternatives.md
Due: none

docs: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix(ci): fix typo at pypi secrets
  .github/workflows/cd.yml
Due: none

2.1.6
  CHANGELOG.md
  pyproject.toml
Due: safety

deploy: f81b02051dcf04c2e270d561ed897ca9aff639b3
  docs/dev_guide.html
  docs/doxygen/demo/html/classdoxysphinx_1_1rst_1_1Car-1.pdf
  docs/getting_started.html
  docs/linking_to_doxygen.html
Due: none

fix(ci): debug strange tag "v" generation
  .github/workflows/ci.yml
Due: none

2.1.7
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(ci): attempt to solve problem of "v" tag
  .github/workflows/cd.yml
Due: none

docs: add more status badges
  README.md
Due: none

ci(dco): removed redundant dco check
  .github/workflows/dco.yml
Due: none

2.1.8
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(pypi): pypi publishing is now active
  .github/workflows/cd.yml
Due: none

ci(pypi): improved metadata
  pyproject.toml
Due: safety

2.1.9
  CHANGELOG.md
  pyproject.toml
Due: safety

chore: added codeowners file
  CODEOWNERS
Due: none

docs: Fix sphinx_book_theme config
  NOTICE.md
  conf_utils.py
Due: flake8

chore(devcontainer): Add support for Apple Silicon
  .devcontainer/Dockerfile
Due: none

chore(ci): switched test reporter
  .github/workflows/ci.yml
Due: none

fix: remove duplicate headline
  NOTICE.md
  README.md
Due: none

2.1.10
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(ci): attempt to fix test reports
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: safety
