Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

.pre-commit-config.yaml:

##
## =====================================================================================
##  C O P Y R I G H T
## -------------------------------------------------------------------------------------
##  Copyright (c) 2022 by Robert Bosch GmbH. All rights reserved.
##
##  Author(s):
##  - Markus Braun, :em engineering methods AG (contracted by Robert Bosch GmbH)
## =====================================================================================
##

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#files:
#  "(.yaml$)|(^conf.*py$)|doxysphinx/.*py$||pyproject.toml$"

exclude:
  "(^.*tests/.*$)"

default_stages: [commit, manual, push]

repos:

# formatting related

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-case-conflict
  - id: check-added-large-files
    args: ["--maxkb=4096"]

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    types: [python]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.942
  hooks:
  - id: mypy
    args: [ "--show-error-codes" ]
    additional_dependencies: [
      "lxml_stubs",
      "types-PyYAML"
    ]
    types: [python]

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    types: [python]

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies:
      - toml

- repo: local
  hooks:
  - id: safety
    name: safety
    entry: poetry run safety
    args: [check, --full-report, --file]
    language: system
    files: "pyproject.toml"

- repo: https://github.com/AleksaC/hadolint-py
  rev: v1.19.0
  hooks:
    - id: hadolint
      args: [ --ignore, SC2035 ]

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v1.3.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args: [] # optional: list of Conventional Commits types to allow

fix(ci): commit to bump version and force a release
  .github/workflows/ci.yml
Due: none

chore(release): release 2.3.0 → 2.3.1 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(release): release 2.3.1 → 2.3.2 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(release): release 2.3.2 → 2.3.3 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(doxygen): respect include-tags in doxyfile
  demo/demo.doxyfile
  doxysphinx/cli.py
  doxysphinx/doxygen.py
Due: flake8

fix(validator): switch some settings to optional
  docs/getting_started.md
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

fix(validator): adapt error messages of validator
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

fix(validator): fix small bug that broke build command
  doxysphinx/cli.py
Due: flake8

chore(release): release 2.3.3 → 2.3.4 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(deps): updated doxygen awesome to 2.0.3
  external/doxygen-awesome-css/doxygen-awesome.css
  external/get_doxygen_awesome.sh
Due: none

fix(styling): moved rtd style fixes to doxysphinx
  docs/_static/sphinx-book-theme-custom.css
  docs/_static/sphinx-rtd-theme-custom.css
  doxysphinx/resources/custom.scss
Due: none

Revert "feat(validator): solved errors for PR"
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

fix(doxygen): add parser for doxygen config
  demo/demo.doxyfile
  doxysphinx/cli.py
  doxysphinx/doxygen.py
Due: flake8

fix(doxygen): correct the handling of relative paths and adjust pytests
  .vscode/settings.json
  demo/includedconfigs/additionalconfig.doxyfile
  docs/getting_started.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  poetry.lock
  tests/doxygen/doxygen_testfiles/config_dict_result.py
  tests/doxygen/doxygen_testfiles/unix_line_endings.doxyfile
  tests/doxygen/doxygen_testfiles/windows_line_endings.doxyfile
  tests/doxygen/test_doxyfile_reader.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

fix(doxygen): fix warning for wrong outdir
  demo/demo.doxyfile
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  tests/doxygen/test_doxysettings_validator.py
Due: flake8

chore(release): release 2.3.4 → 2.3.5 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(release): release 2.3.5 → 2.3.6 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(doxygen): adapt optional settings for doxyfile and documentation
  demo/demo.doxyfile
  docs/getting_started.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
Due: flake8

chore(dev): adapt devcontainer to new python devcontainer and poetry version
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

fix(doxygen): fix errors in validator pytest
  .github/actions/init/action.yaml
  tests/doxygen/test_doxysettings_validator.py
Due: none

fix(doxygen): solve pre-commit errors by whitespaces
  demo/demo.doxyfile
  docs/getting_started.md
Due: none

fix(deps): pyparsing dependency is added correctly now
  poetry.lock
  pyproject.toml
Due: safety

chore(release): release 2.3.6 → 2.3.7 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(tests): removed accidentially pushed files
  .gitignore
  tests/toc/annotated_data_structures.rst
  tests/toc/files_files.rst
  tests/toc/functions_all.rst
  tests/toc/functions_data_fields.rst
  tests/toc/functions_vars_variables.rst
  tests/toc/globals_all.rst
  tests/toc/globals_defs_macros.rst
  tests/toc/globals_eval_enumerator.rst
  tests/toc/globals_func_functions.rst
  tests/toc/globals_globals.rst
  tests/toc/globals_type_typedefs.rst
  tests/toc/globals_vars_variables.rst
Due: none

chore(qa): fixed some styling/formatting issues
  doxysphinx/doxygen.py
  doxysphinx/toc.py
Due: flake8

chore(release): release 2.3.7 → 3.0.0 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

feat(performance): added --parallel flag to run doxysphinx build on multiple cores
  doxysphinx/cli.py
  doxysphinx/process.py
  poetry.lock
  pyproject.toml
Due: flake8, safety
