Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

flake8:
  name: flake8
  entry: flake8
  language: system

safety:
  name: safety
  entry: poetry run safety
  args:
  - check
  - --full-report
  - --file
  language: system

Add Sphinx Extension classifier
  pyproject.toml
Due: safety

chore(devcontainer): upgraded doxygen to latest version 1.9.5
  .devcontainer/Dockerfile
Due: none

chore(vscode): added doxysphinx cleanup task to debugging config
  .vscode/launch.json
  .vscode/tasks.json
Due: none

chore(cli): added version to doxysphinx run output
  doxysphinx/cli.py
Due: flake8

feat(parser): Now rst inline syntax is supported for sphinx roles and domains.
  .vscode/settings.json
  demo/demo.doxyfile
  demo/demo/src/block_rst.hpp
  demo/demo/src/comment_styles.hpp
  demo/demo/src/inline_rst.hpp
  docs/getting_started.md
  docs/resources/doxysphinx_logo.png
  docs/resources/doxysphinx_logo_1280.png
  docs/syntax/comment_styles_syntax.md
  docs/syntax/rst_block_syntax.md
  docs/syntax/rst_inline_syntax.md
  docs/syntax/syntax_guide.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  doxysphinx/html_parser.py
  doxysphinx/resources/custom.scss
  doxysphinx/writer.py
  index.md
  pyproject.toml
  tests/html_parser/test_files/.gitignore
  tests/html_parser/test_files/demo_html_1.expected.html
  tests/html_parser/test_files/demo_html_1.input.html
  tests/html_parser/test_files/html_tags_in_rst_content.expected.html
  tests/html_parser/test_files/html_tags_in_rst_content.input.html
  tests/html_parser/test_files/pre_to_div.expected.html
  tests/html_parser/test_files/pre_to_div.input.html
  tests/html_parser/test_files/sequential_pre_tags.expected.html
  tests/html_parser/test_files/sequential_pre_tags.input.html
  tests/html_parser/test_helper_functions.py
  tests/html_parser/test_html_parser.py
  tests/html_parser/test_remove_doxygen_comment_prefixes.py
  tests/html_parser/test_rst_block_processor.py
  tests/html_parser/test_rst_inline_processor.py
  tests/html_parser/test_speed_doxygen_comment.py
  tests/html_parser/test_speed_rst_block_content_parser.py
  tests/html_parser/test_utils.py
Due: flake8, safety

chore(cleanup): code cleanup + minor doc fixes
  CONTRIBUTE.md
  conf.py
  docs/release_process.md.tbd
  doxysphinx/html_parser.py
  index.md
Due: flake8

docs: minor documentation tweaks
  .gitignore
  conf.py
  docs/getting_started.md
  docs/syntax/rst_block_syntax.md
  docs/syntax/rst_inline_syntax.md
  doxysphinx/html_parser.py
Due: flake8

chore(code): fixed some module docs warnings
  doxysphinx/html_parser.py
Due: flake8

chore(release): release 3.0.0 → 3.1.0 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

perf: improve performance by parallelizing work over available cores
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/reset.sh
  .flake8
  .github/actions/init/action.yaml
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/getting_started.md
  docs/inner_workings.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
  doxysphinx/html_parser.py
  doxysphinx/process.py
  doxysphinx/resources.py
  doxysphinx/utils/files.py
  doxysphinx/utils/rst.py
  doxysphinx/writer.py
  poetry.lock
  pyproject.toml
  sphinx_extensions/replacer/__init__.py
  tests/bench_all.py
  tests/bench_process.py
  tests/conftest.py
  tests/html_parser/test_files/pre_to_div.expected.html
  tests/html_parser/test_files/pre_to_div.input.html
  tests/html_parser/test_files/should_not_touch.input.html
  tests/html_parser/test_html_parser.py
Due: flake8, safety

chore(ci): attempt to fix regression introduced by moving tooling to devcontainer
  .github/actions/init/action.yaml
  poetry.lock
  pyproject.toml
Due: safety

chore(ci): added missing dependency for ci build
  poetry.lock
  pyproject.toml
Due: safety

chore(ci): added some missing dependencies + slight adaptions to ci workflow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: safety

fix(parser): removed annotated.html from parsing exclusion list
  doxysphinx/html_parser.py
Due: flake8

feat(incremental_behaviour): added incremental behaviour for doxysphinx
  doxysphinx/process.py
  doxysphinx/writer.py
Due: flake8

chore(code): * Fixed launch JSON for test * Updated variables * Added author comments.
  .vscode/launch.json
  doxysphinx/process.py
  doxysphinx/writer.py
Due: flake8

test(doxygen): added test for incremental behaviour
  tests/test_commands.py
Due: none

feat(code): Removed emptyspaces before creating hash
  doxysphinx/process.py
Due: flake8

chore(code): resolving flake8 error.
  doxysphinx/writer.py
Due: flake8

docs(doxylink): Refactored documentation for doxylink setup
  docs/doxylink_setup.md
  docs/getting_started.md
  index.md
Due: none

chore(doc): Formatting and spell check
  docs/getting_started.md
Due: none

docs(doxylink): Refactored getting started page
  docs/getting_started.md
Due: none

chore(code): Changed the stripping mechanism before creating hash code
  doxysphinx/process.py
Due: flake8

chore(ci): updated isort dependency for ci build
  .pre-commit-config.yaml
  pyproject.toml
Due: safety

chore(code): Not removing whitespaces before creating hash
  doxysphinx/process.py
Due: flake8

chore(ci): updated poetry.lock for ci build
  poetry.lock
Due: none

chore(release): release 3.1.0 → 3.2.0 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

Path conditions:
  flake8: any of: \.py$, but not: (^.*tests/.*$)
  safety: any of: pyproject.toml, but not: (^.*tests/.*$)
